version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/api"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/ui"
    schedule:
      interval: "weekly"
