name: Frontend CI/CD (React)

on:
  push:
    paths:
      - 'ui/**'
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          cd ui
          npm ci

      - name: Run Tests
        run: |
          cd ui
          npm run test -- --watch=false

      - name: Build
        run: |
          cd ui
          npm run build

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEBAPP_TOKEN }}
          app_location: "ui"
          output_location: "ui/dist"
